Source/QuestionAnswer/QuestionAnswer/wwwroot/resource/log4net.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="log4net">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="appender">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="file">
								<xs:complexType>
									<xs:attribute name="type" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="encoding">
								<xs:complexType>
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" name="param">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="layout">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="header">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="footer">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="param">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="type" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="logger">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="level">
								<xs:complexType>
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="appender-ref">
								<xs:complexType>
									<xs:attribute name="ref" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="level">
								<xs:complexType>
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="appender-ref">
								<xs:complexType>
									<xs:attribute name="ref" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="debug" type="xs:boolean" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>